<div class="h-full bg-gray-200">    
    <h1 class="text-4xl font-bold text-center">User Management System</h1>
    <div class="flex items-center justify-center h-3/4">
        <div class="w-full max-w-lg">
            <form class="max-w-md mx-auto flex-none" [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <h1 class="text-2xl font-bold mb-5">
                    <span>Login</span>
                    <small class="text-red-600 text-sm block bg-red-100" *ngIf="responseMessage">{{ responseMessage }}</small>
                </h1>
                <div class="relative z-0 w-full mb-5 group">
                    <input 
                        type="text" 
                        formControlName="username" 
                        name="username" id="username" 
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
                        placeholder=" " 
                        required 
                        (input)="onInputChange($event)"
                    />
                    <label for="username" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 rtl:peer-focus:left-auto peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Username</label>
                    <!-- INFO -->
                    <small class="text-red-600" *ngIf="loginForm.get('username').hasError('required') && loginForm.get('username').touched">Username is required.</small>
                    <small class="text-red-600" *ngIf="loginForm.get('username').hasError('specialChars')">Username cannot contain special characters.</small>                    
                </div>
                <div class="relative z-0 w-full mb-5 group">
                    <input 
                        type="password" 
                        formControlName="password" 
                        name="password" 
                        id="password" 
                        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 appearance-none dark:text-white dark:border-gray-600 dark:focus:border-blue-500 focus:outline-none focus:ring-0 focus:border-blue-600 peer" 
                        placeholder=" " 
                        required 
                        (input)="onInputChange($event)"
                    />
                    <label for="password" class="peer-focus:font-medium absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform -translate-y-6 scale-75 top-3 -z-10 origin-[0] peer-focus:start-0 rtl:peer-focus:translate-x-1/4 peer-focus:text-blue-600 peer-focus:dark:text-blue-500 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:scale-75 peer-focus:-translate-y-6">Password</label>
                    <!-- INFO -->
                    <small class="text-red-600" *ngIf="loginForm.get('password').hasError('required') && loginForm.get('password').touched">Password is required.</small>
                    <small class="text-red-600" *ngIf="loginForm.get('password').hasError('minlength')">Password must be at least 8 characters long.</small>
                    <small class="text-red-600" *ngIf="loginForm.get('password').hasError('maxlength')">Password must be at max 20 characters long.</small>
                </div>
                <button type="submit" 
                    [disabled]="isButtonDisabled" 
                    class="mb-10 block bg-gray-300 text-white focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm w-full sm:w-auto px-5 py-2.5 text-center"
                    [ngClass]="{'bg-gray-300': isButtonDisabled, 'bg-blue-700 border hover:border-blue-800 hover:bg-blue-100 hover:text-black': !isButtonDisabled}"
                    *ngIf="!isSubmitted"
                >Login</button>
                <app-loading class="block mb-10" *ngIf="isSubmitted"></app-loading>
                <small class="text-blue-700 hover:cursor-pointer hover:text-blue-900" [routerLink]="['/register']" cursor:pointer>Register an Account.</small>
            </form>
        </div>
    </div>
</div>